* { box-sizing: border-box; }
html, body, #root { height: 100%; }
body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  color: #449366;
  background: white;        /* dark background */
}
a { color: inherit; text-decoration: none; }
img { display:block; max-width:100%; }
